header {
  background-image: url(../pictures/ggb.jpg);
  height: 100vh;
  background-size: cover;
}

.main-header {
  position: relative;
  z-index: 100;
  margin-bottom: 0px;
  padding: 15px 20px 15px 20px;
}

.header-icon a {
  position: absolute;
  float: left;
  margin-left: 15px;
  font-family: 'Pacifico', cursive;
  color: white;
  text-decoration: none;
  text-shadow: 0px 0px 22px black;
}

.header-nav-hidden {
  display: none;
}

.header-nav {
  float: right;
}

.header-nav ul {
  margin: auto;
}

.header-nav li {
  list-style: none;
  float: left;
  border: 1px solid white;
  margin: 1px 20px 0 0;
}

.header-nav a {
  display: block;
  padding: 10px 15px 10px 15px;
  color: white;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
}

.header-nav a:hover {
  text-decoration: none;
}

.intro {
  height: 100%;
  width: 100%;
  position: relative;
}

.buttons {
  top: 55%;
  position: relative;
  width: 100%;
}

.intro-box {
  position: absolute;
  display: block;

  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(0, 0, 0, 0.70);
  text-align: center;
  color: white;
  overflow: hidden;
}

.intro-box-contents {
  position: absolute;
  padding: 10px;
  width: 100%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Raleway', sans-serif;
}

.intro-box-contents .name {
  font-size: 50px;
}

.intro-box-contents .title {
  font-size: 30px;
}

.intro-box-contents .skills {
  font-size: 20px;
}

.about-heading {
  font-size: 40px;
  font-weight: 300;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  padding-bottom: 30px;
}

.about-section {
  height: auto;
  color: black;
  background: #ecf0f1;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  padding: 30px 10% 60px 10%;
}

.profile-pic {
  position: relative;
  float: left;
  margin-right: 40px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.projects-section {
  min-height: 600px;
  width: 100%;
  background: #353439;
  text-align: center;
  padding-top: 30px;
}

.projects-heading {
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: white;
  padding: 0 0 30px 0;
}

.project-title {
  font-size: 25px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: white;
  padding: 15px;
}

.project-image {
  width: 100%;
  height: auto;
}

.profile-links {
  position: relative;
}

.github-link {
  display: inline;
  font-family: 'Raleway', sans-serif;
  color: black;
}

.live-link {
  display: inline;
  font-family: 'Raleway', sans-serif;
  color: black;
}

.project-links {
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
}

.themuse-magic {
  position: relative;
}

.museseek-links {
  position: relative;
  height: auto;
  width: 100%;
}

div.themuse-magic:hover img{
  opacity:0.4;
}

div.themuse-magic:hover a {
  display: inline-block;
}

div.themuse-magic a {
  position:absolute;
  display:none;
}

div.themuse-magic:hover .github-link a{
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
}

div.themuse-magic:hover .live-link a {
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
}

/*    jsa     */

.jsa-magic {
  position: relative;
}

.jsa-links {
  position: relative;
  height: auto;
  width: 100%;
}

div.jsa-magic:hover img{
    opacity:0.4;
}

div.jsa-magic:hover a {
  display: inline-block;
}

div.jsa-magic a {
    position:absolute;
    display:none;
}

div.jsa-magic:hover .github-link a{
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
}

div.jsa-magic:hover .live-link a {
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
}

/*   chess   */

.chess-magic {
  position: relative;
}

.chess-links {
  position: relative;
  height: auto;
  width: 100%;
}

div.chess-magic:hover img{
    opacity:0.4;
}

div.chess-magic:hover a {
  display: inline-block;
}

div.chess-magic a {
    position:absolute;
    display:none;
}

div.chess-magic:hover .github-link a{
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
}

div.chess-magic:hover .live-link a {
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
}

.open-source {
  position: absolute;
  display: block;
  text-align: center;
  margin-top: 50px;
}

.footer {
  position: relative;
  width: 100%;
  height: 200px;
  background: #1D1D1D;
}

.contact-heading {
  font-size: 40px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: white;
  padding: 10px 0 0 0;
}

.contact-info {
  font-size: 16px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: white;
  padding: 10px 0 0 0;
  text-decoration: none;
}

.email-link {
  color: white;
}

.email-link:hover {
  text-decoration: none;
  color: white;
}

.icon-wrapper {
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(50%);
}

.icon {
  display: inline-block;
  margin: 5px;
}

/*.project-description {
  padding: 20px 15% 20px 15%;
  color: white;
  font-family: 'Raleway', sans-serif;
}*/

.jsa-project-description {
  padding: 20px 15% 30px 15%;
  display: none;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

.museseek-project-description {
  padding: 20px 15% 30px 15%;
  display: none;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

.chess-project-description {
  padding: 20px 15% 30px 15%;
  color: white;
  display: none;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

.last-remarks {
  display: block;
  margin-top: 75px;
  padding: 10px 15px 10px 15px;
  color: white;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  border: 2px solid white;
  font-size: 20px;
}

.group:after { 
  content: ""; 
  display: block; 
  clear: both; 
}

/* Experience Section */

.experience-section {
  background-image: url("../pictures/gong.jpg");
  background-size: cover;
  min-height: 950px;
  color: black;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  padding: 0 1% 1% 0;
}

.experience-heading {
  font-size: 40px;
  font-weight: 300;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  padding-bottom: 30px;
  padding-top: 30px;
}

.experience-text {
  text-align: left;
  padding-top: 10%;
  margin: 0 50% 10px 0;
  font-weight: bold;
}

.experience-title {
  padding: 10px 10px 10px 10px;
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
}

.experience-description {
  margin: 8% 10% 8% 10%;
  text-align: center;
  font-weight: bold;
  font-size: 0.9em;
  font-style: italic;
}

.experience-bullet {
  padding: 10px 10px 10px 10px;
  font-size: 1em;
}

li {
  list-style-type: none;
}

@media screen and (max-width: 875px) {
        .experience-text {
    margin: auto;
    }
}


/* About Section */

@media screen and (max-width: 720px) {
        .about-heading {
    font-size: 35px;
    }
}

@media screen and (max-width: 720px) {
        .about-section {
    font-size: 18px;
    }
}


/*  Projects Section  */

@media screen and (max-width: 720px) {
        .projects-heading {
    font-size: 35px;
    }
}

/* Project titles*/
@media screen and (max-width: 1000px) {
        .project-title {
    font-size: 20px;
    }
}

@media screen and (max-width: 720px) {
        .project-title {
    font-size: 15px;
    }
}

@media screen and (max-width: 600px) {
        .project-title {
    font-size: 10px;
    }
}

/* Contact */

@media screen and (max-width: 720px) {
        .contact-heading {
    font-size: 35px;
    }
}

@media screen and (max-width: 525px) {
    ul.header-nav {
      display: none;
    }

    .header-nav-hidden {
      display: block;
      list-style: none;
      float: right;
      border: 1px solid white;
      padding: 0;
      

    }

    .header-blog a {
      position: relative;
      display: block;
      padding: 10px 15px 10px 15px;
      color: white;
      font-family: 'Raleway', sans-serif;
      text-decoration: none;
      text-align: center;
      margin: auto;
    }
}

@media screen and (max-width: 700px) {
  .projects-section {
    height: auto;
    min-height: 350px;
  }
}


